.actionButtonContainer {
    margin-bottom: 25px !important;
}

.actionButtonBox {
    width: 98px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: rgb(29, 29, 29) !important;
    border-color:  rgb(29, 29, 29) !important;
}