body {
  background-color: black !important;
}

.loginButton {
  background-color: rgba(245, 245, 245, 0.7);
}

.btnz {
  position: relative;

  border: 2px solid black;
  color: black;
  text-decoration: none;
  font-size: em(20px);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;

  -webkit-font-smoothing: antialiased;
}
.registerButton {
  max-height: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5vh;
  background-color: rgba(245, 245, 245, 0) !important;
}
.btnz-cont .btnz:hover {
  border: 2px solid rgba(255, 255, 255, 0);
}
.btnz-cont .btnz:hover .line-1 {
  animation: move1 1500ms infinite ease;
}
.btnz-cont .btnz:hover .line-2 {
  animation: move2 1500ms infinite ease;
}
.btnz-cont .btnz:hover .line-3 {
  animation: move3 1500ms infinite ease;
}
.btnz-cont .btnz:hover .line-4 {
  animation: move4 1500ms infinite ease;
}
.btnz-cont .line-1 {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  background-color: black;
  left: 0;
  bottom: 0;
}
.btnz-cont .line-2 {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: black;
  left: 0;
  top: 0;
}
.btnz-cont .line-3 {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  background-color: black;
  right: 0;
  top: 0;
}
.btnz-cont .line-4 {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: black;
  right: 0;
  bottom: 0;
}
@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

.floatingCard {
  position: absolute;
  width: 250px;
  z-index: 1;
  border-radius: 25px;
  filter: blur(2px);
}

.landingContentGrid {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  grid-template-areas: "landingLeftCol landingRightCol";
  min-height: 100vh;
  overflow: hidden;
}

.landingLeftCol {
  grid-area: landingLeftCol;
  background-color: whitesmoke;
  z-index: 0;
}

.landingPageButton {
  margin: "25px";
  margin-top: "100px";
}

.landingLeftText {
  margin-top: 15%;
  margin-left: 10%;
  position: relative;
  z-index: 2;
}

.landingRightCol {
  grid-area: landingRightCol;
}

.landingPageButton {
  margin: 35px;
  padding-top: 13px;
  padding-bottom: 5px;
  max-width: 150px;
}

.landingTitle {
  font-size: 65px;
  width: 450px;
}

.landingSubTitle {
  font-size: 25px;
}

.landingPageForm {
  margin-top: 50%;
  color: white;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.landingKnowMore {
  margin-top: 15% !important;
  /* color: black !important; */
}

.infoSign {
  background-color: whitesmoke;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.landingRightCol {
  background: linear-gradient(132deg, #6481df, #252525, #6930c3);
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Moto G  */

@media only screen and (max-width: 600px) {
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  html {
    height: -webkit-fill-available;
    max-width: 360px !important;
  }
  .landingPageButton {
    margin: "25px";
    margin-top: "100px";
    max-width: 150px;
  }
  .btnz {
    position: relative;

    color: black;
    text-decoration: none;
    font-size: 13px;
  }

  .registerButton {
    max-width: 100px;
    background-color: rgba(245, 245, 245, 0) !important;
  }

  .landingContentGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "landingLeftCol"
      "landingRightCol";
  }

  .landingLeftCol {
    grid-area: landingLeftCol;
    background-color: whitesmoke;
  }

  .landingLeftText {
    /*  margin-top: 210px; */
    margin-left: 10%;
  }

  .landingRightCol {
    grid-area: landingRightCol;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
  }

  .landingPageButton {
    margin: 35px;
  }

  .landingTitle {
    font-size: 20px;
    width: 200px;
  }

  .landingSubTitle {
    font-size: 15px;
    width: 200px;
  }

  .landingPageForm {
    margin-top: 15px;
    color: white;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .landingKnowMore {
    margin-top: 15% !important;
    color: black !important;
  }

  .infoSign {
    background-color: whitesmoke;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .landingButtonsContainer {
    max-width: 100px;
    min-height: 230px !important;
  }

  .landingPageButton {
    margin: 10px !important;
  }
}

/* IPHONE 5  */

@media only screen and (max-device-width: 375px) and (max-height: 570px) {
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  html {
    height: -webkit-fill-available;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  }
  .landingContentGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "landingLeftCol"
      "landingRightCol";
  }

  .landingLeftCol {
    grid-area: landingLeftCol;
    background-color: whitesmoke;
  }

  .landingLeftText {
    /*  margin-top: 210px; */
    margin-left: 10%;
  }

  .landingRightCol {
    grid-area: landingRightCol;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
  }

  .landingPageButton {
    margin: 35px;
  }

  .landingTitle {
    font-size: 20px;
    width: 200px;
  }

  .landingSubTitle {
    font-size: 15px;
    width: 200px;
  }

  .landingPageForm {
    margin-top: 15px;
    color: white;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .landingKnowMore {
    margin-top: 15% !important;
    color: black !important;
  }

  .infoSign {
    background-color: whitesmoke;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .landingButtonsContainer {
    max-width: 200px;
    min-height: 230px !important;
  }

  .landingPageButton {
    margin: 10px !important;
  }
}

@media only screen and (min-device-width: 375px) and (min-height: 600px) and (max-height: 768px) {
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  html {
    height: -webkit-fill-available;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  }

  .landingContentGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "landingLeftCol"
      "landingRightCol";
  }

  .landingLeftCol {
    grid-area: landingLeftCol;
    background-color: whitesmoke;
    height: 370px !important;
  }

  .landingLeftText {
    margin-top: 5%;
    margin-left: 10%;
  }

  .landingRightCol {
    grid-area: landingRightCol;
    background-color: black;
    overflow: hidden;
  }

  .landingPageButton {
    margin: 35px;
  }

  .landingTitle {
    font-size: 30px;
    width: 300px;
  }

  .landingSubTitle {
    font-size: 20px;
  }

  .landingPageForm {
    margin-top: 50px !important;
  }

  .landingKnowMore {
    margin-top: 15% !important;
    color: black !important;
  }

  .infoSign {
    background-color: whitesmoke;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .landingButtonsContainer {
    max-width: 200px;
    min-height: 260px !important;
  }

  .landingPageButton {
    margin: 10px !important;
  }
}

/* IPHONE X */

@media only screen and (min-device-width: 375px) and (min-height: 768px) and (max-height: 820px) {
  .landingContentGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "landingLeftCol"
      "landingRightCol";
  }

  .landingLeftCol {
    grid-area: landingLeftCol;
    background-color: whitesmoke;
    height: 300px !important;
  }

  .landingLeftText {
    margin-top: 10%;
    margin-left: 10%;
  }

  .landingRightCol {
    grid-area: landingRightCol;
    background-color: black;
  }

  .landingTitle {
    font-size: 25px;
    width: 300px;
  }

  .landingSubTitle {
    font-size: 18px;
  }

  .landingPageForm {
    margin-top: 0px !important;
  }

  .landingKnowMore {
    margin-top: 15% !important;
    color: black !important;
  }

  .infoSign {
    background-color: whitesmoke;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .landingPageButton {
    margin: 10px !important;
  }
}

/* IPAD */

@media only screen and (min-device-width: 700px) and (max-width: 800px) and (min-height: 900px) and (max-height: 1024px) {
  .landingContentGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "landingLeftCol"
      "landingRightCol";
  }

  .landingLeftCol {
    grid-area: landingLeftCol;
    background-color: whitesmoke;
    height: 500px !important;
  }

  .landingLeftText {
    margin-top: 20%;
    margin-left: 30%;
  }

  .landingRightCol {
    grid-area: landingRightCol;
    background-color: black;
  }

  .landingTitle {
    font-size: 25px;
    width: 300px;
  }

  .landingSubTitle {
    font-size: 18px;
  }

  .landingPageForm {
    margin-top: 0px !important;
  }

  .landingKnowMore {
    margin-top: 15% !important;
    color: black !important;
  }

  .infoSign {
    background-color: whitesmoke;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .landingPageButton {
    margin: 10px !important;
  }
}

/* IPAD PRO / SMALL LAPTOP */

@media only screen and (min-device-width: 1024px) and (max-width: 1200px) {
  .landingContentGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "landingLeftCol"
      "landingRightCol";
  }

  .landingLeftCol {
    grid-area: landingLeftCol;
    background-color: whitesmoke;
    height: 650px !important;
  }

  .landingLeftText {
    margin-top: 20%;
    margin-left: 30%;
  }

  .landingRightCol {
    grid-area: landingRightCol;
    background-color: black;
  }

  .landingTitle {
    font-size: 35px;
    width: 300px;
  }

  .landingSubTitle {
    font-size: 25px;
  }

  .landingPageForm {
    margin-top: 0px !important;
  }

  .landingKnowMore {
    margin-top: 15% !important;
    color: black !important;
  }

  .infoSign {
    background-color: whitesmoke;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .landingPageButton {
    margin: 10px !important;
  }
}

/* iphone 11 / pro/ pro max */
@media only screen and (min-width: 375px) and (max-width: 767px) {
}

/* iphone SE */
@media only screen and (min-width: 320px) and (max-width: 767px) {
}
/* iphone 12 && PRO  */
@media only screen and (min-width: 390px) and (max-width: 767px) {
}
