.movieCardMain {
  margin: 30px;
  position: relative;
  color: whitesmoke !important;
  height: 575px !important;
}

.starRatingsBox {
  position: absolute;
  top: 400px;
  left: 20px;
  display: block;
  width: 70px;
  height: 35px;
  border-radius: 20px;
  padding: 0.3em 0.3em;
  background-color: #ffd700 !important;
  border: 0;
}

.starRatingsContent {
  position: absolute;
  color: black;
}

.movieCardTitle a {
  color: whitesmoke !important;
}

.movieCardTitle {
  width: 300px !important;
}

.movieCardIcon {
  margin: 2px;
  max-height: 250px;
}

.movieCardContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas: "movieCard movieCard movieCard movieCard";
  border-radius: 50px !important;
}

.movieButtonContainer {
  position: absolute;
  width: 300px !important;
  top: 76%;
}

.movieImageCard {
  width: 300px;
  height: 450px;
  grid-area: movieCard;
  border-radius: 12px;
}

/* SECTION: Buttons */
.discardMovieButton {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.336);
  position: absolute;
  right: 0;
  width: 33.3%;
  text-align: center !important;
  transition: transform 250ms, background-color 0.25s ease;
}

.movieSaved {
  background-color: rgb(22, 22, 22);
}

/* REMOVE MOVIE BUTTON */

.removeMovieIcon {
  position: absolute;
  right: 0;
  padding: 15px;
  bottom: 375px;
  right: -5px;
  cursor: pointer;
}

.Toastify__progress-bar--default {
  background-color: red;
  color: red;
}

/* MOTO G  */
@media only screen and (max-width: 360px) {
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  html {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
  }

  .movieCardMain {
    margin: 30px;
    position: relative;
    color: whitesmoke !important;
  }

  .movieCardTitle a {
    color: whitesmoke !important;
  }

  .movieCardTitle {
    width: 300px !important;
    font-size: 25px;
  }

  .movieCardIcon {
    margin: 2px;
    max-height: 250px;
  }

  .movieCardContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "movieCard";
    border-radius: 50px !important;
  }

  .movieButtonContainer {
    position: absolute;
    width: 300px !important;
    top: 76%;
  }

  .movieImageCard {
    width: 280px;
    height: 420px;
    grid-area: movieCard;
    border-radius: 12px;
  }

  /* SECTION: Buttons */
  .discardMovieButton {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    right: 0;
    width: 33.3%;
    text-align: center !important;
    transition: transform 250ms, background-color 0.25s ease;
  }

  .movieSaved {
    background-color: rgb(22, 22, 22);
  }
}

/* IPHONE 5  */
@media only screen and (max-width: 375px) {
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  html {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
  }

  .movieCardMain {
    margin: 30px;
    position: relative;
    color: whitesmoke !important;
  }

  .movieCardTitle a {
    color: whitesmoke !important;
  }

  .movieCardTitle {
    width: 300px !important;
    font-size: 25px;
  }

  .movieCardIcon {
    margin: 2px;
    max-height: 250px;
  }

  .movieCardContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "movieCard";
    border-radius: 50px !important;
  }

  .movieButtonContainer {
    position: absolute;
    width: 300px !important;
    top: 76%;
  }

  .movieImageCard {
    width: 280px;
    height: 420px;
    grid-area: movieCard;
    border-radius: 12px;
  }

  .discardMovieButton {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    right: 0;
    width: 33.3%;
    text-align: center !important;
    transition: transform 250ms, background-color 0.25s ease;
  }

  .movieSaved {
    background-color: rgb(22, 22, 22);
  }
}

/* IPHONE 6/7/8 */

@media only screen and (min-width: 375px) and (max-width: 600px) {
  .movieCardMain {
    margin: 30px;
    position: relative;
    color: whitesmoke !important;
  }

  .movieCardTitle a {
    color: whitesmoke !important;
  }

  .movieCardTitle {
    width: 300px !important;
    font-size: 25px;
  }

  .movieCardIcon {
    margin: 2px;
    max-height: 250px;
  }

  .movieCardContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "movieCard";
    border-radius: 50px !important;
  }

  .movieButtonContainer {
    position: absolute;
    width: 300px !important;
    top: 76%;
  }

  .movieImageCard {
    width: 300px;
    height: 450px;
    grid-area: movieCard;
    border-radius: 12px;
  }

  /* SECTION: Buttons */
  .discardMovieButton {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    right: 0;
    width: 33.3%;
    text-align: center !important;
    transition: transform 250ms, background-color 0.25s ease;
  }

  .movieSaved {
    background-color: rgb(22, 22, 22);
  }
}

/* IPHONE X */

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .movieCardMain {
    margin: 30px;
    position: relative;
    color: whitesmoke !important;
  }

  .movieCardTitle a {
    color: whitesmoke !important;
  }

  .movieCardTitle {
    width: 300px !important;
    font-size: 25px;
  }

  .movieCardIcon {
    margin: 2px;
    max-height: 250px;
  }

  .movieCardContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "movieCard";
    border-radius: 50px !important;
  }

  .movieButtonContainer {
    position: absolute;
    width: 300px !important;
    top: 76%;
  }

  .movieImageCard {
    width: 300px;
    height: 450px;
    grid-area: movieCard;
    border-radius: 12px;
  }

  .discardMovieButton {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    right: 0;
    width: 33.3%;
    text-align: center !important;
    transition: transform 250ms, background-color 0.25s ease;
  }

  .movieSaved {
    background-color: rgb(22, 22, 22);
  }
}

/* IPAD */
@media only screen and (min-width: 767px) and (max-width: 800px) {
  .movieCardMain {
    margin: 30px;
    position: relative;
    color: whitesmoke !important;
  }

  .movieCardTitle a {
    color: whitesmoke !important;
  }

  .movieCardTitle {
    width: 300px !important;
    font-size: 25px;
  }

  .movieCardIcon {
    margin: 2px;
    max-height: 250px;
  }

  .movieCardContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "movieCard ";
    border-radius: 50px !important;
  }

  .movieButtonContainer {
    position: absolute;
    width: 300px !important;
    top: 76%;
  }

  .movieImageCard {
    width: 300px;
    height: 450px;
    grid-area: movieCard;
    border-radius: 12px;
  }

  .discardMovieButton {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    right: 0;
    width: 33.3%;
    text-align: center !important;
    transition: transform 250ms, background-color 0.25s ease;
  }

  .movieSaved {
    background-color: rgb(22, 22, 22);
  }
}

/* IPAD PRO / SMALL LAPTOP */
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .movieCardMain {
    margin: 30px;
    position: relative;
    color: whitesmoke !important;
  }

  .movieCardTitle a {
    color: whitesmoke !important;
  }

  .movieCardTitle {
    width: 300px !important;
    font-size: 25px;
  }

  .movieCardIcon {
    margin: 2px;
    max-height: 250px;
  }

  .movieCardContainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: "movieCard";
    border-radius: 50px !important;
  }

  .movieButtonContainer {
    position: absolute;
    width: 300px !important;
    top: 76%;
  }

  .movieImageCard {
    width: 300px;
    height: 450px;
    grid-area: movieCard;
    border-radius: 12px;
  }

  .discardMovieButton {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    right: 0;
    width: 33.3%;
    text-align: center !important;
    transition: transform 250ms, background-color 0.25s ease;
  }

  .movieSaved {
    background-color: rgb(22, 22, 22);
  }
}


/* iphone 11 / pro/ pro max */ 

/* @media only screen and (min-width: 375px) and (max-width: 767px) { 
  .movieCardMain {
    margin: 30px;
    margin-left: 45px;
    position: relative;
    color: whitesmoke !important;
  }

  .movieCardTitle a {
    color: whitesmoke !important;
  }

  .movieCardTitle {
    width: 300px !important;
    font-size: 25px;
  }

  .movieCardIcon {
    margin: 2px;
    max-height: 250px;
  }

  .movieCardContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "movieCard";
    border-radius: 50px !important;
  }

  .movieButtonContainer {
    position: absolute;
    width: 300px !important;
    top: 76%;
  }

  .movieImageCard {
    width: 300px;
    height: 450px;
    grid-area: movieCard;
    border-radius: 12px;
  }

  .discardMovieButton {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    right: 0;
    width: 33.3%;
    text-align: center !important;
    transition: transform 250ms, background-color 0.25s ease;
  }

  .movieSaved {
    background-color: rgb(22, 22, 22);
  }
} */


/* iphone 12 && PRO  */
/* @media only screen and (min-width: 390px) and (max-width: 767px) {
  .movieCardMain {
    margin: 30px;
    margin-left: 45px;
    position: relative;
    color: whitesmoke !important;
  }

  .movieCardTitle a {
    color: whitesmoke !important;
  }

  .movieCardTitle {
    width: 300px !important;
    font-size: 25px;
  }

  .movieCardIcon {
    margin: 2px;
    max-height: 250px;
  }

  .movieCardContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "movieCard";
    border-radius: 50px !important;
  }

  .movieButtonContainer {
    position: absolute;
    width: 300px !important;
    top: 76%;
  }

  .movieImageCard {
    width: 300px;
    height: 450px;
    grid-area: movieCard;
    border-radius: 12px;
  }

  .discardMovieButton {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    right: 0;
    width: 33.3%;
    text-align: center !important;
    transition: transform 250ms, background-color 0.25s ease;
  }

  .movieSaved {
    background-color: rgb(22, 22, 22);
  }
 } */