.mainNavBar {
    background-color: rgb(26, 26, 26) !important;
    color: whitesmoke;
}

.buttonStyle {
    color: whitesmoke !important;
    padding-left: 25px;
    padding-right: 25px;
}

.buttonStyle a, a:hover{
    text-decoration: none !important;
}
