/* main page container */

.profilePageContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
      "profileDetails profileEdit";
}

/* left section for profile details */

.profileShowDetails {
    grid-area: profileDetails;
    /* change post testing */
    height: 100vh;
}


/*  right section for profile edit details */

.profileEditSection {
    grid-area: profileEdit;
}

.profileEditForm, .profileDetails {
    margin-top: 25vh;
    width: 50vh;
    margin-left: auto;
    margin-right: auto;

}


.listShowProfile {
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
}